@font-face {
    font-family: 'PT Astra Sans';
    src: url('fonts/pt-astra-sans-regular.woff2') format('woff2'),
         url('fonts/pt-astra-sans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Astra Sans';
    src: url('fonts/pt-astra-sans-bold.woff2') format('woff2'),
         url('fonts/pt-astra-sans-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}




body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Astra Sans', sans-serif
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


#root {
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
}